---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | {{ site.data[page.client].business.full_name }}</title>

  <meta name="description" content="{{ page.description }}">

  <link rel="stylesheet" href="{{ '/' | append: page.client | append: '/style.css' | relative_url }}">
</head>

<body>

  {% if page.client == "gulfside" %}
    {% include gulfside/header.html %}
  {% elsif page.client == "pristinescreening" %}
    {% include pristinescreening/header.html %}
  {% endif %}


  {{ content }}


    {% if page.client == "gulfside" %}
      {% include gulfside/footer.html %}
    {% elsif page.client == "pristinescreening" %}
      {% include pristinescreening/footer.html %}
    {% endif %}

  <script>
    const siteData = {
      phone: "{{ site.data[page.client].business.phone }}",
      email: "{{ site.data[page.client].business.email }}"
    };
  </script>

  <script src="{{ '/' | append: page.client | append: '/script.js' | relative_url }}"></script>

</body>
</html>